<div
  class="bg-light navbar-expand-md fixed-top bottom-border"
  [class.on-scroll]="shouldIncludeOnScrollClass"
  [class.start-header]="shouldHaveStartHeaderClass"
>
  <div [ngClass]="containerClasses">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-light bg-light navbar-expand-md">
          <a class="navbar-brand" [routerLink]="['./']">
            <img [src]="logoUrl" alt="logo" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            (click)="toggleMenuCollapsed()"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ml-0 py-0 py-md-0">
              <li [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['./home']"
                  (click)="closeCollapse()"
                  >{{ lexicon.home }}
                </a>
              </li>
              <li *ngIf="signedIn()" [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/profile/edit']"
                  (click)="closeCollapse()"
                  >{{ lexicon.profile }}</a
                >
              </li>
              <li [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/post']"
                  (click)="closeCollapse()"
                >
                  {{ lexicon.posts }}
                </a>
              </li>
              <li [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/profile-list']"
                  (click)="closeCollapse()"
                >
                  {{ lexicon.users }}
                </a>
              </li>

              <li *ngIf="signedIn()" [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/message']"
                  (click)="closeCollapse()"
                >
                  {{ lexicon.messages }}
                </a>
              </li>
            </ul>
            <ul *ngIf="!signedIn()" class="navbar-nav ml-auto py-0 py-md-0">
              <li [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/sign-up']"
                  (click)="closeCollapse()"
                  >{{ lexicon.signUp }}</a
                >
              </li>

              <li [ngClass]="sideSectionClasses">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  [routerLink]="['/sign-in']"
                  (click)="closeCollapse()"
                  >{{ lexicon.signIn }}</a
                >
              </li>
            </ul>

            <ul *ngIf="signedIn()" class="navbar-nav ml-auto py-0 py-md-0">
              <img [src]="photoUrl || defaultPhoto" class="thumbnail" />
              <li ngbDropdown [ngClass]="sideSectionClasses">
                <a
                  id="navbarDropdown1"
                  class="nav-link dropdown-toggle"
                  style="cursor: pointer;"
                  ngbDropdownToggle
                  role="button"
                >
                  {{ name }}
                </a>

                <div
                  aria-labelledby="navbarDropdown1"
                  ngbDropdownMenu
                  class="dropdown-menu"
                >
                  <a ngbDropdownItem [routerLink]="['/profile/edit']">{{
                    lexicon.editProfile
                  }}</a>
                  <a
                    ngbDropdownItem
                    style="cursor: pointer;"
                    (click)="signOut()"
                  >
                    {{ lexicon.signOut }}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
