<nav
  class="bg-light navbar-expand-md start-header start-style fixed-top"
  [ngClass]="onScroll()"
>
  <div [ngClass]="ContainerClasses">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-light bg-light navbar-expand-md">
          <a class="navbar-brand" [routerLink]="['./']">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Stack_Overflow_logo.png"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            (click)="ToggleMenuCollapsed()"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ml-0 py-0 py-md-0">
              <li
                [ngClass]="SideSectionClasses"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <a class="nav-link" [routerLink]="['./home']"
                  >{{ Lexicon.home }}
                </a>
              </li>
              <li
                *ngIf="signedIn()"
                [ngClass]="SideSectionClasses"
                routerLinkActive="active"
              >
                <a class="nav-link" [routerLink]="['/user/edit']">{{
                  Lexicon.profile
                }}</a>
              </li>
            </ul>
            <ul *ngIf="!signedIn()" class="navbar-nav ml-auto py-0 py-md-0">
              <li routerLinkActive="active" [ngClass]="SideSectionClasses">
                <a class="nav-link" [routerLink]="['/sign-up']">{{
                  Lexicon.signUp
                }}</a>
              </li>
              <li [ngClass]="SideSectionClasses" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/sign-in']">{{
                  Lexicon.signIn
                }}</a>
              </li>
            </ul>

            <ul *ngIf="signedIn()" class="navbar-nav ml-auto py-0 py-md-0">
              <img [src]="photoUrl || defaultPhoto" class="thumbnail" />
              <li ngbDropdown [ngClass]="SideSectionClasses">
                <a
                  id="navbarDropdown1"
                  class="nav-link dropdown-toggle"
                  style="cursor: pointer;"
                  ngbDropdownToggle
                  role="button"
                >
                  {{ Name }}
                </a>
                <div
                  aria-labelledby="navbarDropdown1"
                  ngbDropdownMenu
                  class="dropdown-menu"
                >
                  <a ngbDropdownItem [routerLink]="['/user/edit']">{{
                    Lexicon.editProfile
                  }}</a>
                  <a
                    ngbDropdownItem
                    style="cursor: pointer;"
                    (click)="signOut()"
                  >
                    {{ Lexicon.signOut }}
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>
