.back-date{
  background-color: #adadad1c;
  padding: 5px;
}
 .back-section{
  min-width: max-content;
    display: inline-block;
    padding: 2px;
}
.back-section a , .username a {
  text-decoration: none;
  cursor: pointer;
  color: #adadad;
  transition: 0.6s ease-in-out;
}
.back-section a:hover{
color: black;
}
.post-date{
  margin-left: 15px;
  display: inline;
  font-size: 0.9rem;
  color: #adadad;
}
.line{
  margin: 0px 6px;
  padding: 0px 3px;
  vertical-align: text-bottom;
  color: #adadad;
}

.title-section{
  padding: 15px 15px;
  box-shadow: 0px 0px 9px -5px;
  margin-top: 3px;
}
.title-section .title{
  font-size: 1rem;
  font-weight: 400;
}
.post-info-section{
padding: 20px 15px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f5f5f5;
  vertical-align: middle;
}
.username , .views , .rating{
  display: inline;
  vertical-align: middle;
}
.username{
  font-size: 12px;
  color: #bdbdbd;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
.username a:hover{
  color: blue;
}
.views{
  font-size: 15px;
  color: #bdbdbd;
  background-color: #adadad1c;
}
.views-count{
  color: black;
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
  margin: 0px 14px;
}
.rating{
  margin: 0px 14px;
}
.up{
  vertical-align: middle;
}
.down{
  vertical-align: text-bottom;
}
.rating-up,
  .rating-down {
    background-color: #88888836;
    border-radius: 15%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
  }

  .rating-up {
    color: green;
    line-height: 28px;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
  .rating-down {
    color: red;
    line-height: 16px;
    text-align: center;
    transition: 0.6s ease-in-out;
  }
  .rating-up:hover {
    background-color: green !important;
    color: white;
  }
  .rating-down:hover {
    background-color: red !important;
    color: white;
  }
  .rating-count {
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px 1px;
    margin: 0px 14px;
  }
.post-tools{
  padding: 15px 20px;
}
.post-tools .box{
  background-color:#adadad1c;
  width: max-content;
  padding: 4px 20px;
  border-radius: 50px;
  margin: 12px 0px;
}
.post-tools .box span{
margin-right: 20px;
cursor: pointer;
color: #8888;
transition: 0.6s ease-in-out;
}
.post-tools .box span:hover{
  color: black;
}
.edit-button:enabled,
.cancel-button:enabled {
  cursor: pointer !important;
}
.edit-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}
.edit-button:disabled {
  cursor: auto !important;
  background-color: #989494 !important;
  border-color: #989494 !important;
  cursor: auto !important;
}

.edit-button {
  background-color: #3dc867 !important;
  opacity: 1;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white !important;
  margin: 0px 15px 0px 5px;
}

.cancel-button {
  background-color: #ec2626 !important;
  opacity: 1;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white !important;
  margin: 0px 15px 0px 5px;
}
/* rtl classes */

.rtl .post-tools .box span{
  margin-left: 20px;
  display: inline-block;
}
.rtl .username{
  margin: 0px 12px;
  display: inline-block;
}
.rtl .back{
  vertical-align: text-bottom;
    margin: 0px 5px;
}