.pd-post {
  padding-bottom: 50px;
  padding-top: 50px;
}
.pd-post .dropdown-toggle::after {
  display: none;
}

.bg-post {
  border-radius: 18px !important;
}

.post-view-header {
  border-bottom: 1px solid #88888836;
  padding-bottom: 5px;
  height: auto;
}
.title-section .title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 20px;
  word-break: break-word;
}
.back-section {
  font-size: 20px;
  text-decoration: none;
}
.back-section a {
  text-decoration: none;
  cursor: pointer;
  color: #adadad;
}
.username:hover {
  color: black;
  cursor: pointer;
}
.back_fix {
  padding: 1px 0px;
  margin: 0 auto;
  text-align: center;
}
.back-section:hover .backlink {
  color: black;
}
.back-section:hover fa-icon {
  color: black;
}

.rating-post-section {
  text-align: center;
  width: max-content;
}
.rating-post-section .rating-up,
.rating-down {
  background-color: #88888836;
  border-radius: 15%;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}
.rating-up {
  color: green;
  line-height: 45px;
  margin-bottom: 12px;
  transition: 0.6s ease-in-out;
}
.rating-down {
  margin-top: 12px;
  color: red;
  line-height: 28px;
  transition: 0.6s ease-in-out;
}
.rating-up:hover {
  background-color: green !important;
  color: white;
}
.rating-down:hover {
  background-color: red !important;
  color: white;
}
.rating-count {
  padding: 10px 0px;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 1px;
}

.post-view-body {
  padding: 25px 0px;
}
/*user-info*/
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  background-color: #f5f5f5;
}
.username,
.Reputation,
.date,
.views {
  vertical-align: -webkit-baseline-middle;
  margin-left: 12px;
  font-size: 12px;
  color: #bdbdbd;
  vertical-align: middle;
}
.content-header fa-icon {
  color: #bdbdbd;
  font-size: 16px;
}

/*content-body*/
.content-body {
  line-height: 1.57;
  width: 100%;
  word-break: break-all;
  margin-top: 10px;
  color: #424242;
  padding: 10px 10px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .post-content-section {
    padding-left: 25px;
  }
  .content-body {
    width: 100%;
  }
  .title-section .title {
    font-size: 1rem;
    line-height: 2;
    margin-left: 15px;
  }
  .back-section {
    font-size: 12;
  }
  .back-section span {
    font-size: 14px;
  }
  .post-view-header {
    padding: 14px;
    margin: 0px;
  }
  .back-section::after {
    display: none;
  }
  .rtl .post-info-section {
    padding: 0px 19px;
  }
}
.dropdown-toggle::after {
  display: none;
}

.edit-button:enabled,
.cancel-button:enabled {
  cursor: pointer !important;
}
.edit-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}
.edit-button:disabled {
  cursor: auto !important;
  background-color: #989494 !important;
  border-color: #989494 !important;
  cursor: auto !important;
}

.edit-button {
  background-color: #3dc867 !important;
  opacity: 1;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white !important;
  float: right;
}

.cancel-button {
  background-color: #ec2626 !important;
  opacity: 1;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color: white !important;
  float: left;
}
