<div [ngClass]="containerClasses">
  <div class="row bg-post">
    <div class="post-view-header col-12">
      <div class="title-section row mt-2">
        <div class="col-lg-1 col-md-1 col-3">
          <span class="back-section">
            <a class="backlink" [routerLink]="['/post']">
              <fa-icon [icon]="faChevron"></fa-icon>
              {{ lexicon.back }}
            </a>
          </span>
        </div>
        <div class="col-9 col-md-11 col-lg-11">
          <a class="title">{{ post.title }}</a>
        </div>
      </div>
    </div>
    <!--End post view header-->

    <!--Start post view Body-->
    <div class="post-view-body col-12">
      <div class="container">
        <div class="row">
          <!-- Rating btn -->
          <div class="col-1">
            <div class="rating-post-section">
              <div><fa-icon class="rating-up" [icon]="faSortUp"></fa-icon></div>
              <div class="rating-count">{{ post.votesCount }}</div>
              <div>
                <fa-icon class="rating-down" [icon]="faSortDown"></fa-icon>
              </div>
            </div>
          </div>
          <!-- End  Rating btn -->
          <!-- start post  content  -->
          <div class="col-11">
            <div class="post-content-section">
              <div class="content-header">
                <div class="row">
                  <div class="col-12">
                    <!-- post info  -->
                    <div class="post-info-section">
                      <div class="row">
                        <!-- user-info  content  -->
                        <a>
                          <img
                            class="avatar"
                            [src]="post.userPhotoUrl || defaulPhotoUrl"
                          />
                        </a>
                        <div class="user-info col-auto">
                          <span class="username">
                            {{ post.username }}
                          </span>
                          <!-- <span class="Reputation">
                            <span><fa-icon [icon]="fastar"></fa-icon></span>
                            Reputation
                          </span> -->
                        </div>
                        <!--   post date  content  -->
                        <div class="post-date col-auto">
                          <span class="date">
                            <fa-icon [icon]="faCalender"></fa-icon>

                            {{
                              post.dateAddedUtc
                                | localiseDate: "long":localeCode
                            }}
                          </span>
                        </div>
                        <!--   post views  content  -->
                        <div class="post-views col-auto">
                          <span class="views">
                            <fa-icon [icon]="faEye"></fa-icon>
                            {{ post.viewersCount }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  End  content header  -->
              <div class="container">
                <div class="content-body">
                  <editor
                    #tinymce
                    required
                    [(ngModel)]="post.content"
                    name="content"
                    [init]="config"
                    [disabled]="true"
                  ></editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <app-add-comment [postId]="post.id"></app-add-comment>
  </div>
  <div class="comment">
    <app-comment-card></app-comment-card>
  </div>
</div>
