<div class="container">
  <div class="container">
    <div class="row">
      <div *ngIf="false" class="col-lg-3">
        <div class="list-group" style="padding-bottom: 15px;">
          <div class="card">
            <div class="card-body pr-0">
              <p>
                <span id="btnToggleSideBar" (click)="ToggleSideBar()">
                  <i class="fas fa-bars"></i> User Dashboard
                </span>
              </p>
              <div [ngbCollapse]="isCollapsed" id="menulinks">
                <h3>User Dashboard</h3>
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn1')"
                  (click)="setActive('btn1')"
                  ><i class="far fa-user"></i> User info
                </a>
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn2')"
                  (click)="setActive('btn2')"
                  ><i class="far fa-heart"></i> Favourites
                </a>
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn3')"
                  (click)="setActive('btn3')"
                >
                  <i class="far fa-star"></i>
                  Watchlist
                </a>
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn4')"
                  (click)="setActive('btn4')"
                  ><i class="fas fa-cog"></i> Settings</a
                >
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn5')"
                  (click)="setActive('btn5')"
                  ><i class="far fa-bell"></i> Notifications</a
                >
                <a
                  class="nav-link"
                  [class.Active]="isActive('btn6')"
                  (click)="setActive('btn6')"
                  ><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="editForm?.touched && editForm?.dirty" class="col-lg-12">
        <div class="alert alert-info">
          <strong>Information:</strong>
          Changes were made to your profile, any unsaved changes will be gone !
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-5 col-md-5 user-img">
                <div class="fix_overlay">
                  <div class="overlay">
                    <input type="file" /><i class="fas fa-plus"></i>
                  </div>
                  <img [src]="defaultPhoto" />
                </div>
              </div>

              <div class="col-6 col-md-6 m-auto user-info p-0">
                <h4>{{ user.username }}</h4>
                <p>{{ user.email }}</p>
              </div>

              <form
                #editForm="ngForm"
                id="editForm"
                [formGroup]="editFormGroup"
                (ngSubmit)="onSubmit()"
              >
                <div class="container profile-input">
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="form-label">First Name</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="firstName"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">Last Name</label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="lastName"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label">Date of Birth</label>
                      <div class="input-group">
                        <input
                          class="form-control"
                          formControlName="dateOfBirth"
                          [minDate]="minDate"
                          [maxDate]="maxDate"
                          [displayMonths]="displayMonths"
                          [navigation]="navigation"
                          [outsideDays]="outsideDays"
                          [showWeekNumbers]="showWeekNumbers"
                          ngbDatepicker
                          (click)="datePicker.toggle()"
                          #datePicker="ngbDatepicker"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary"
                            (click)="datePicker.toggle()"
                            type="button"
                          >
                            <fa-icon [icon]="faCalender"></fa-icon>
                          </button>
                        </div>
                      </div>
                      <div
                        class="alert alert-danger"
                        *ngIf="
                          DateOfBirth?.hasError('underAge') &&
                          !DateOfBirth?.hasError('ngbDate')
                        "
                      >
                        User must be 8+ years old
                      </div>
                      <div
                        class="alert alert-danger"
                        *ngIf="DateOfBirth?.hasError('ngbDate')"
                      >
                        Invalid date
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="companyName">
                        Company Name
                      </label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="companyName"
                        placeholder=""
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <label class="form-label" for="schoolName">
                        School Name
                      </label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="schoolName"
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <label class="form-label" for="countryNumericCode"
                        >Country</label
                      >
                      <div class="input-group">
                        <select
                          formControlName="countryNumericCode"
                          class="form-control my-select"
                          (ngModelChange)="onChange($event)"
                        >
                          <option [ngValue]="null" disabled hidden selected>
                            Select your country...
                          </option>
                          <option
                            *ngFor="let country of countriesDataSource"
                            [ngValue]="country.numericCode"
                            >{{ country.name }}</option
                          >
                        </select>
                        <div class="input-group-append">
                          <span
                            class="input-group-text"
                            *ngIf="flagClass == null"
                          >
                            <span> &nbsp;</span>
                          </span>
                          <span
                            *ngIf="flagClass != null"
                            class="input-group-text"
                            style="padding: 0px; padding-left: 1px;"
                          >
                            <ul class="f32" style="padding: 0px; margin: 0px;">
                              <span [className]="flagClass"></span>
                            </ul>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label class="form-label">
                        Programming Languages
                      </label>
                      <angular2-multiselect
                        [settings]="programmingLanguagesDropDownSettings"
                        [data]="programmingLanguagesDataSource"
                        formControlName="programmingLanguages"
                        [(ngModel)]="selectedProgrammingLanguages"
                      >
                      </angular2-multiselect>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="gender">Gender</label>
                      <select
                        placeholder="Select your gender"
                        formControlName="gender"
                        class="form-control my-select"
                      >
                        <option [ngValue]="null" disabled hidden selected>
                          Select your gender...
                        </option>
                        <option [ngValue]="GenderEnum.Male">Male</option>
                        <option [ngValue]="GenderEnum.Female">Female</option>
                        <option [ngValue]="GenderEnum.Other">Other</option>
                      </select>
                    </div>

                    <div class="form-group col-md-12">
                      <label class="form-label" for="description">
                        Description
                      </label>
                      <textarea
                        class="form-control"
                        type="text"
                        rows="6"
                        formControlName="description"
                        placeholder="Write about yourself..."
                      >
                      </textarea>
                    </div>
                  </div>

                  <div class="btn-save">
                    <button
                      class="form-button"
                      [disabled]="editForm?.invalid || !editForm?.touched"
                      type="submit"
                    >
                      Save Changes
                    </button>
                  </div>
                </div>
                <!--End Container-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ DateOfBirth?.errors | json }}
