<body id="test">
  <div class="wrap hero-anime">
    <div class="navigation-wrap bg-light start-header start-style">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" routerLink=""><img src="" alt=""/></a>

              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Home</a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link1</a>
                      <a class="dropdown-item" href="#">Link2</a>
                      <a class="dropdown-item" href="#">Link3</a>
                      <a class="dropdown-item" href="#">Link4</a>
                    </div>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" routerLink="login">Login</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" routerLink="register">Register</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Profile</a
                    >
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link1</a>
                      <a class="dropdown-item" href="#">Link2</a>
                      <a class="dropdown-item" href="#">Link3</a>
                      <a class="dropdown-item" href="#">Link4</a>
                    </div>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="#">Problems</a>
                  </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                    <a class="nav-link" href="#">Question</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="section full-height">
      <div class="absolute-center">
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1><span> For programmers </span></h1>
                <p>By programmers</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section mt-5">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div id="switch">
                  <div id="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Section-2">
    <div class="container">
      <h1>Section 2 here..........</h1>
    </div>
  </div>
  <div class="Section-3">
    <div class="container">
      <h1>Section 3 here..........</h1>
    </div>
  </div>

  <div class="Section-4">
    <div class="container">
      <h1>Section 4 here..........</h1>
      <span id="c">ccc</span>
    </div>
  </div>
</body>
