<div class="background mt-4">
  <div [ngClass]="containerClasses">
    <div class="screen p-3 mt-2 mb-2">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="sign-up">
        <div class="sign-up-header">
          <div>
            <img class="sign-up-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="sign-up-subtitle">{{ lexicon.signUpFormSubtitle }}</div>
        </div>
        <div class="sign-up-body">
          <!--Form Here -->
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--email  -->
              <label class="form-label" for="sign-up-email">{{
                lexicon.email
              }}</label>
              <input
                formControlName="email"
                [ngClass]="formControlClasses(email)"
                type="email"
                placeholder="eg. example@email.com"
                required
              />
              <div
                *ngIf="email.errors && email.touched"
                class="invalid-feedback"
              >
                <span *ngIf="email.hasError('pattern')">{{
                  lexicon.emailPatternErrorMessage
                }}</span>
                <span *ngIf="email.errors?.required">{{
                  lexicon.emailRequiredErrorMessage
                }}</span>
              </div>
              <div
                *ngIf="serverError.controllerName == 'email'"
                class="invalid-feedback d-block"
              >
                <span>{{ lexicon[serverError.message] }}</span>
              </div>
            </div>
            <div class="form-group">
              <!--email  -->
              <label class="form-label" for="sign-up-email">{{
                lexicon.username
              }}</label>
              <input
                formControlName="username"
                [ngClass]="formControlClasses(username)"
                type="text"
                placeholder="eg. username123"
                required
              />
              <div
                *ngIf="username.errors && username.touched"
                class="invalid-feedback"
              >
                <span
                  *ngIf="
                    username.hasError('minlength') ||
                    username.hasError('maxlength')
                  "
                  >{{ lexicon.usernameLengthErrorMessage }}
                </span>
                <span
                  *ngIf="
                    !username.hasError('minlength') &&
                    !username.hasError('maxlength') &&
                    username.hasError('pattern')
                  "
                  >{{ lexicon.usernamePatternErrorMessage }}
                </span>
                <span *ngIf="username.errors?.required">
                  {{ lexicon.usernameRequiredErrorMessage }}
                </span>
              </div>
              <div
                *ngIf="serverError.controllerName == 'username'"
                class="invalid-feedback d-block"
              >
                <span>{{ lexicon[serverError.message] }}</span>
              </div>
            </div>
            <div class="form-group">
              <!--password  -->
              <label class="form-label" for="sign-up-password">
                {{ lexicon.password }}
              </label>
              <input
                matInput
                formControlName="password"
                [ngClass]="formControlClasses(password)"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="password.errors && password.touched"
                class="invalid-feedback"
              >
                <span
                  *ngIf="
                    password.hasError('minlength') ||
                    password.hasError('maxlength')
                  "
                >
                  {{ lexicon.passwordLengthErrorMessage }}
                </span>
                <span *ngIf="password.hasError('required')">
                  {{ lexicon.passwordRequiredErrorMessage }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--password  -->
              <label class="form-label" for="sign-up-password">
                {{ lexicon.confirmPassword }}
              </label>
              <input
                formControlName="confirmPassword"
                [ngClass]="formControlClasses(confirmPassword)"
                placeholder="*****"
                type="password"
              />
              <div
                *ngIf="confirmPassword.errors && confirmPassword.touched"
                class="invalid-feedback"
              >
                <span *ngIf="confirmPassword.errors?.mustMatch">
                  {{ lexicon.confirmPasswordMismatchErrorMessage }}
                </span>
                <span *ngIf="confirmPassword.errors?.required">
                  {{ lexicon.confirmPasswordRequiredErrorMessage }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="gender">{{
                lexicon.gender
              }}</label>
              <select
                placeholder="Select your gender"
                formControlName="gender"
                class="form-control"
                [style.padding]="0"
              >
                <option [ngValue]="null" disabled hidden selected>
                  {{ lexicon.genderSelectPlaceHolder }}
                </option>
                <option [ngValue]="genderEnum.Male">{{ lexicon.male }}</option>
                <option [ngValue]="genderEnum.Female">{{
                  lexicon.female
                }}</option>
                <option [ngValue]="genderEnum.Other">{{
                  lexicon.other
                }}</option>
              </select>
            </div>

            <div class="form-group">
              <!--sign-in Btn  -->
              <button
                class="form-button sign-up-button"
                type="submit"
                [disabled]="
                  (signupForm.invalid && signupForm.touched) ||
                  !signupForm.touched
                "
              >
                {{ lexicon.signUp }}
              </button>
            </div>
          </form>
        </div>
        <div class="text-center">
          <span>{{ lexicon.or }}</span>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="sign-in-footer">
          {{ lexicon.alreadyAUser }}&nbsp;&nbsp;<a
            class="link link-sign-in"
            routerLink="/sign-in"
          >
            {{ lexicon.signIn }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
