<div class="background mt-4">
  <div [ngClass]="ContainerClasses">
    <div class="screen p-3 mt-2 mb-2">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="sign-up">
        <div class="sign-up-header">
          <div>
            <img class="sign-up-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="sign-up-subtitle">{{ Lexicon.signUpFormSubtitle }}</div>
        </div>
        <div class="sign-up-body">
          <!--Form Here -->
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="sign-up-email">{{
                Lexicon.email
              }}</label>
              <input
                formControlName="email"
                class="form-control"
                type="email"
                placeholder="eg. example@email.com"
                required
              />
              <div
                *ngIf="Email.errors && Email.touched"
                class="alert alert-danger"
              >
                <small *ngIf="Email.hasError('pattern')">{{
                  Lexicon.emailPatternErrorMessage
                }}</small>
                <small *ngIf="Email.errors?.required">{{
                  Lexicon.emailRequiredErrorMessage
                }}</small>
              </div>
            </div>
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="sign-up-email">{{
                Lexicon.username
              }}</label>
              <input
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="eg. username123"
                required
              />
              <div
                *ngIf="Username.errors && Username.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    Username.hasError('minLength') ||
                    Username.hasError('maxLength')
                  "
                  >{{ Lexicon.usernameLengthErrorMessage }}
                </small>
                <small
                  *ngIf="
                    !Username.hasError('minLength') &&
                    !Username.hasError('maxLength') &&
                    Username.hasError('pattern')
                  "
                  >{{ Lexicon.usernamePatternErrorMessage }}
                </small>
                <small *ngIf="Username.errors?.required">
                  {{ Lexicon.usernameRequiredErrorMessage }}
                </small>
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="sign-up-password">
                {{ Lexicon.password }}
              </label>
              <input
                matInput
                formControlName="password"
                class="form-control"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="Password.errors && Password.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    Password.hasError('minLength') ||
                    Password.hasError('maxLength')
                  "
                >
                  {{ Lexicon.passwordLengthErrorMessage }}
                </small>
                <small *ngIf="Password.hasError('required')">
                  {{ Lexicon.passwordRequiredErrorMessage }}
                </small>
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="sign-up-password">
                {{ Lexicon.confirmPassword }}
              </label>
              <input
                formControlName="confirmPassword"
                class="form-control"
                placeholder="*****"
                type="password"
              />
              <div
                *ngIf="ConfirmPassword.errors && ConfirmPassword.touched"
                class="alert alert-danger"
              >
                <small *ngIf="ConfirmPassword.errors?.mustMatch">
                  {{ Lexicon.confirmPasswordMismatchErrorMessage }}
                </small>
                <small *ngIf="ConfirmPassword.errors?.required">
                  {{ Lexicon.confirmPasswordRequiredErrorMessage }}
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="gender">{{
                Lexicon.gender
              }}</label>
              <select
                placeholder="Select your gender"
                formControlName="gender"
                class="form-control"
                [style.padding]="0"
              >
                <option [ngValue]="null" disabled hidden selected>
                  {{ Lexicon.genderSelectPlaceHolder }}
                </option>
                <option [ngValue]="GenderEnum.Male">{{ Lexicon.male }}</option>
                <option [ngValue]="GenderEnum.Female">{{
                  Lexicon.female
                }}</option>
                <option [ngValue]="GenderEnum.Other">{{
                  Lexicon.other
                }}</option>
              </select>
            </div>

            <div class="form-group">
              <!--sign-in Btn  -->
              <button
                class="form-button sign-up-button"
                type="submit"
                [disabled]="
                  (signupForm.invalid && signupForm.touched) ||
                  !signupForm.touched
                "
              >
                {{ Lexicon.signUp }}
              </button>
            </div>
          </form>
        </div>
        <div class="text-center">
          <span>{{ Lexicon.or }}</span>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="sign-in-footer">
          {{ Lexicon.alreadyAUser }}&nbsp;&nbsp;<a
            class="link link-sign-in"
            routerLink="/sign-in"
          >
            {{ Lexicon.signIn }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
