<div class="background mt-4">
  <div class="container">
    <div class="screen p-3 mt-2 mb-2">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="sign-up">
        <div class="sign-up-header">
          <div>
            <img class="sign-up-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="sign-up-subtitle">Sign up to continue</div>
        </div>
        <div class="sign-up-body">
          <!--Form Here -->
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="sign-up-email">Email</label>
              <input
                formControlName="email"
                class="form-control"
                type="email"
                placeholder="eg. example@email.com"
                required
              />
              <div
                *ngIf="email.errors && email.touched"
                class="alert alert-danger"
              >
                <small *ngIf="email.hasError('pattern')"
                  >Error in email pattern</small
                >
                <small *ngIf="email.errors?.required">Email is required</small>
              </div>
            </div>
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="sign-up-email">Username</label>
              <input
                matInput
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="eg. username123"
                required
              />
              <div
                *ngIf="username.errors && username.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    username.hasError('minLength') ||
                    username.hasError('maxLength') ||
                    username.hasError('pattern')
                  "
                  >Username pattern error!
                </small>
                <small *ngIf="username.errors?.required"
                  >UserName is Requried !</small
                >
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="sign-up-password">Password</label>
              <input
                matInput
                formControlName="password"
                class="form-control"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="password.errors && password.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    password.hasError('minLength') ||
                    password.hasError('maxLength') ||
                    password.hasError('pattern')
                  "
                  >Password pattern error!
                </small>
                <small *ngIf="password.hasError('required')">
                  Password is required !</small
                >
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="sign-up-password"
                >Confirm Password</label
              >
              <input
                matInput
                formControlName="confirmPassword"
                class="form-control"
                placeholder="*****"
                type="password"
              />
              <div
                *ngIf="confirmPassword.errors && confirmPassword.touched"
                class="alert alert-danger"
              >
                <small *ngIf="confirmPassword.errors?.mustMatch"
                  >Error in Password , Not Match</small
                >
                <small *ngIf="confirmPassword.errors?.required"
                  >Confirm Password is required !</small
                >
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="gender">Gender</label>
              <select
                placeholder="Select your gender"
                formControlName="gender"
                class="form-control"
                [style.padding]="0"
              >
                <option [ngValue]="null" disabled hidden selected>
                  Select your gender...
                </option>
                <option [ngValue]="GenderEnum.Male">Male</option>
                <option [ngValue]="GenderEnum.Female">Female</option>
                <option [ngValue]="GenderEnum.Other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <!--sign-in Btn  -->
              <button
                class="form-button sign-up-button"
                type="submit"
                [disabled]="
                  (signupForm.invalid && signupForm.touched) ||
                  !signupForm.touched
                "
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="text-center">
          <span>OR</span>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="sign-in-footer">
          Already User?&nbsp;&nbsp;<a
            class="link link-sign-in"
            routerLink="/sign-in"
            >sign-in</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
