<div [ngClass]="ContainerClasses">
  <div class="btn-post">
    <button (click)="showEditor()" class="btn float-right">
      {{ Lexicon.new }} <fa-icon [icon]="FaPlus"></fa-icon>
    </button>
  </div>
<div class="container">
<div class="btn-post "><button (click)="showEditor()"  class="btn">New<i class="fas fa-plus ml-2"></i></button></div>
<div class="content-post">
<div class="container">
<div class="post-user" *ngFor="let post of post_list">
    <div class="row">
<div class="col-md-3 col-12 poster-img">
    <img  [src]="post.imgUrl">
</div>
<div class="col-md-9 col-12 post-info">
    <h5 class="title-post"> <a routerLink="">{{post.title}}</a> </h5>
    <div class="create">
    <span>{{post.username}} created at :</span><span class="date">{{post.yyyy}}</span><span>{{post.hours}}</span>
    </div>
    <div class="rank_view">
        <span><fa-icon class="eye"  [icon]="faEye"></fa-icon> {{post.view}} </span> <span><fa-icon [class]="post.status" [icon]="faCaretUp"></fa-icon> {{post.rank}}</span>
    </div>
    <div class="categ"> <span>{{post.category1}}</span> <span>{{post.category2}}</span> </div>
</div>
    </div>

</div>
</div>
</div>
<div class="clear"></div>
<div class="editor" [class.show]="status">
    <div class="post_cansel">
        <button class="btn cansel" (click)="canselEditor()">Cansel</button>
    <button class="btn post">Post <i class="fab fa-telegram-plane"></i></button>
    </div>
    <app-text-editor></app-text-editor>
</div>

  <div class="editor" [class.show]="showEditorFlag">
    <div class="editor_header">
      <button class="btn cancel" (click)="hideEditor()">
        {{ Lexicon.cancel }} <fa-icon [icon]="FaTimes"></fa-icon>
      </button>
      <button class="btn post">
        {{ Lexicon.create }} <fa-icon [icon]="FaPaperPlane"></fa-icon>
      </button>
    </div>
    <app-text-editor *ngIf="showEditorFlag"></app-text-editor>
  </div>
</div>
