<div [ngClass]="ContainerClasses">
  <div class="btn-post">
    <button (click)="showEditor()" class="btn float-right">
      {{ Lexicon.new }} <fa-icon [icon]="FaPlus"></fa-icon>
    </button>
  </div>

  <div class="editor" [class.show]="showEditorFlag">
    <div class="editor_header">
      <button class="btn cancel" (click)="hideEditor()">
        {{ Lexicon.cancel }} <fa-icon [icon]="FaTimes"></fa-icon>
      </button>
      <button class="btn post">
        {{ Lexicon.create }} <fa-icon [icon]="FaPaperPlane"></fa-icon>
      </button>
    </div>
    <app-text-editor *ngIf="showEditorFlag"></app-text-editor>
  </div>
</div>
