.btn-new button {
  margin: 20px 25px;
  background-color: #ffff;
  color: #f17548;
  border-color: #f17548;
  opacity: 1;
  width: 90px;
  outline: none;
  transition-duration: 0.4s;
}

.rtl .btn-new {
  text-align: left;
}
.btn-new {
  width: 100%;
  text-align: right;
}
.btn-post button {
  margin: 20px 25px;
  background-color: #ffff;
  color: #f17548;
  border-color: #f17548;
  opacity: 1;
  width: 90px;
  outline: none;
  transition-duration: 0.4s;
}
.btn-new button:hover {
  background-color: #f17548;
  color: #ffff;
}
.editor {
  -webkit-transition: 0.4s all !important;
  -o-transition: 0.4s all !important;
  transition: 0.4s all !important;
  position: fixed;
  bottom: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  z-index: 147;
  min-height: 0;
  height: 0;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.show {
  opacity: 1;
  min-height: 200px;
  height: 80%;
  background-color: white;
}
