<div class="background mt-4">
  <div [ngClass]="ContainerClasses">
    <div class="screen">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="sign-in">
        <div class="sign-in-header">
          <div>
            <img class="sign-in-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="sign-in-subtitle">{{ Lexicon.signInFormSubtitle }}</div>
        </div>
        <div class="sign-in-body">
          <!--Form Here -->
          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="sign-in-email">
                {{ Lexicon.usernameOrEmail }}
              </label>
              <input
                [ngClass]="formControlClasses(Username)"
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="eg. example@email.com"
                required
              />
              <div
                *ngIf="
                  Username.errors &&
                  (Username.errors?.invalid || Username.touched)
                "
                class="invalid-feedback"
              >
                <span *ngIf="Username.errors?.required">
                  {{ Lexicon.usernameOrEmailRequiredErrorMessage }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="sign-in-password">
                {{ Lexicon.password }}</label
              >
              <input
                [ngClass]="formControlClasses(Password)"
                formControlName="password"
                class="form-control"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="
                  Password.errors &&
                  (Password.errors.invalid || Password.touched)
                "
                class="invalid-feedback"
              >
                <span *ngIf="Password.errors?.required">
                  {{ Lexicon.passwordRequiredErrorMessage }}
                </span>
              </div>
            </div>
            <div class="form-group link-forgot-container">
              <a class="forgot link link-forgot" href="#">{{
                Lexicon.forgotPassword
              }}</a>
            </div>
            <div class="form-group">
              <!--sign-in Btn  -->
              <button
                class="form-button sign-in-button"
                [disabled]="
                  (signInForm.invalid && signInForm.touched) ||
                  !signInForm.touched
                "
                type="submit"
              >
                {{ Lexicon.signIn }}
              </button>
            </div>
          </form>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="sign-in-footer">
          {{ Lexicon.newUser }}&nbsp;&nbsp;<a
            class="link link-sign-up"
            routerLink="/sign-up"
          >
            {{ Lexicon.createAccount }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
