<div class="background mt-4">
  <div class="container">
    <div class="screen">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="login">
        <div class="login-header">
          <div>
            <img class="login-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="login-subtitle">Sign in to continue</div>
        </div>
        <div class="login-body">
          <!--Form Here -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="login-email">
                Email or Username
              </label>
              <input
                matInput
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="eg. example@email.com or username123"
                required
              />
              <div
                *ngIf="
                  username.errors &&
                  (username.errors?.invalid || username.touched)
                "
                class="alert alert-danger"
              >
                <small *ngIf="username.errors?.required">
                  Email or Username Is Requried !
                </small>
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="login-password">Password</label>
              <input
                matInput
                formControlName="password"
                class="form-control"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="
                  password.errors &&
                  (password.errors.invalid || password.touched)
                "
                class="alert alert-danger"
              >
                <small *ngIf="password.errors?.required">
                  Password is Requried !
                </small>
              </div>
            </div>
            <div class="form-group link-forgot-container">
              <a class="forgot link link-forgot" href="#">Forgot Password?</a>
            </div>
            <div class="form-group">
              <!--Login Btn  -->
              <button
                class="form-button login-button"
                [disabled]="
                  (loginForm.invalid && loginForm.touched) || !loginForm.touched
                "
                type="submit"
              >
                Login
              </button>
            </div>
          </form>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="login-footer">
          New user?&nbsp;&nbsp;<a
            class="link link-register"
            routerLink="/register"
            >create Account</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
