/*form button is a class in styles.css*/
.my-select {
  padding: 0px;
}
.edit-profile-container {
  color: #8888;
}
.edit-profile-container .cuppa-dropdown {
  width: 70% !important;
  margin: auto !important;
}
@media screen and (min-width: 992px) {
  #menulinks {
    /*show link in sidebar */
    display: block;
  }
  #btnToggleSideBar {
    display: none;
    /*hide Toggle btn  in sidebar  in large screen*/
  }

  .user-img {
    float: right;
  }

  .user-info {
    float: left;
  }
  .user-img img {
    width: 35%;
  }
  .overlay {
    width: 35%;
    height: 100%;
  }
}
@media screen and (max-width: 991px) {
  #btnToggleSideBar {
    display: block;
    /*show Toggle btn  in sidebar ==> in small screen*/
  }
}

.Active {
  border-right: 3px solid #f17548;
  color: #000000bd;
  transition: 0.8s ease;
}
.Active:hover {
  color: #000000bd;
}
#menulinks a {
  margin: 25px 0px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  font-weight: bolder;
}
#menulinks a i {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: sub;
}
#menulinks h3 {
  color: black;
  font-family: monospace;
  font-weight: bolder;
  font-size: 22px;
  margin: auto 15px;
}
.fa-bars {
  cursor: pointer;
}

.edit-profile-container .overlay {
  background-color: #000000bd;
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
}

.edit-profile-container .user-info h4 {
  color: #000000bd;
  letter-spacing: 2px;
  font-weight: bolder;
}
.edit-profile-container .user-info p {
  padding: 0px 6px;
  font-size: 14px;
  letter-spacing: 1px;
}
.edit-profile-container .fix_overlay:hover .overlay {
  opacity: 1;
}

.edit-profile-container .fa-camera {
  position: absolute;
  left: 45%;
  top: 45%;
  color: white;
  font-size: 20px;
}
.edit-profile-container .profile-input {
  margin-top: 10px;
}
.edit-profile-container .form-control {
  width: 70%;
  margin: auto;
}
.edit-profile-container .input-group {
  width: 70%;
  margin: auto;
}

.edit-profile-container .form-label {
  text-align: start;
  margin-bottom: 8px;
  margin-left: 15%;
  font-size: 13px;
}
.edit-profile-container .btn-save {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2px;
}

.edit-profile-container .btn-save button {
  width: 160px;
  height: 40px;
  color: white;
  border: 0px;
  border-radius: 20px;
  box-shadow: 3px 7px 12px #797979;
  font-weight: 600;
  outline: none;
}
.edit-profile-container .btn-save button:enabled {
  background-color: #3dc867 !important;
}
.edit-profile-container textarea {
  resize: none;
}
.edit-profile-container .form-label-rtl {
  margin-left: 0%;
  margin-right: 15%;
}

/* fix unwanted white space in rtl for the date picker*/
.edit-profile-container .rtl .dropdown-menu,
[dir="rtl"] .dropdown-menu {
  right: 0;
  left: inherit;
  right: initial;
  text-align: right !important;
}

/*fix the padding in months and weeks in rtl for the date picker*/
.edit-profile-container .rtl .custom-select,
[dir="rtl"] .custom-select {
  padding: -0.625rem 0.75rem 0.375rem 1.75rem;
}

.edit-profile-container .dropdown-list {
  z-index: 1000;
}
.edit-profile-container .dropdown-list .arrow-down,
.edit-profile-container .dropdown-list .arrow-up {
  display: none !important;
}
/*fix the mutliselect angle position for rtl*/
.edit-profile-container .rtl .selected-list .c-angle-down,
.edit-profile-container .rtl .selected-list .c-angle-up {
  position: absolute;
  right: 93%;
}

/* fix multiselect popup triangle position for rtl*/

/* .arrow-down,
.arrow-up {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff;
  margin-left: 0px;
  position: absolute;
  right: 90%;
  top: 0;
} */

/* keep the direction of languages' names ltr since they are in english*/
.edit-profile-container .pure-checkbox input[type="checkbox"] + label {
  direction: ltr !important;
}
/* keep the direction of languages' names ltr since they are in english in selected tags*/
.edit-profile-container .selected-list .c-list .c-token .c-label {
  direction: ltr !important;
}
/* rtl for the (x) button in multiselect */
.edit-profile-container .rtl .list-filter .c-clear {
  position: absolute;
  top: 6px;
  right: 80%;
}

/*keep the selects inside the date popup the same*/
.edit-profile-container ngb-datepicker-navigation-select > .custom-select {
  padding: 0 0.5rem !important;
}
.edit-profile-container .flag-span {
  padding: 0px;
  padding-left: 1px;
}

.edit-profile-container .img-grid img {
  border-radius: 50%;
}
.edit-profile-container .rtl .img-grid .row .col-6.col-md-6 .card {
  float: left;
}
.edit-profile-container .img-grid .row .col-6.col-md-6 .card {
  min-width: 137.5px;
  max-width: 150px;
  max-height: 150px;
  min-height: 137.5px;
  float: right;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 17px 0px #777676;
}
.edit-profile-container .img-grid .row .col-6.col-md-6 .card .card-img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  max-height: 150px;
  min-height: 137.5px;
}

.edit-profile-container .img-grid .row .col-6.col-md-6 .card .card-img-overlay {
  opacity: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
}
.edit-profile-container
  .img-grid
  .row
  .col-6.col-md-6
  .card:hover
  .card-img-overlay {
  opacity: 0.7;
  background-color: #777;
}
