<div class="container edit-profile-container">
  <!-- <div class="row">
    <div *ngIf="false" class="col-lg-3">
      <div class="list-group" style="padding-bottom: 15px;">
        <div class="card">
          <div class="card-body pr-0">
            <p>
              <span id="btnToggleSideBar" (click)="ToggleSideBar()">
                <i class="fas fa-bars"></i> {{ lexicon.userDashboard }}
              </span>
            </p>
            <div [ngbCollapse]="isCollapsed" id="menulinks">
              <h3>{{ lexicon.userDashboard }}</h3>
              <a
                class="nav-link"
                [class.Active]="isActive('btn1')"
                (click)="setActive('btn1')"
                ><i class="far fa-user"></i> User info
              </a>
              <a
                class="nav-link"
                [class.Active]="isActive('btn2')"
                (click)="setActive('btn2')"
                ><i class="far fa-heart"></i> favourites
              </a>
              <a
                class="nav-link"
                [class.Active]="isActive('btn3')"
                (click)="setActive('btn3')"
              >
                <i class="far fa-star"></i>
                Watchlist
              </a>
              <a
                class="nav-link"
                [class.Active]="isActive('btn4')"
                (click)="setActive('btn4')"
                ><i class="fas fa-cog"></i> Settings</a
              >
              <a
                class="nav-link"
                [class.Active]="isActive('btn5')"
                (click)="setActive('btn5')"
                ><i class="far fa-bell"></i> Notifications</a
              >
              <a
                class="nav-link"
                [class.Active]="isActive('btn6')"
                (click)="setActive('btn6')"
                ><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->

  <div *ngIf="editForm?.dirty" [class.rtl]="isLanguageArabic" class="col-lg-12">
    <div class="alert alert-info">
      <strong>{{ lexicon.information }}</strong>
      {{ lexicon.changeAlert }}
    </div>
  </div>

  <div
    *ngIf="editForm?.dirty && photo.invalid"
    [class.rtl]="isLanguageArabic"
    class="col-lg-12"
  >
    <div class="alert alert-danger">
      <strong>{{ photo.errors | json }}</strong>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card mb-2">
      <div class="card-body">
        <form
          #editForm="ngForm"
          id="editForm"
          [formGroup]="editFormGroup"
          (ngSubmit)="onSubmit()"
          [class.rtl]="isLanguageArabic"
        >
          <div class="img-grid">
            <div class="row">
              <div class="col-6 col-md-6">
                <div class="card text-white">
                  <img class="card-img" [src]="photoUrl" alt="profile pic" />
                  <div
                    class="card-img-overlay"
                    (click)="openImageUploaderModal()"
                  >
                    <fa-icon [icon]="faCamera"></fa-icon>
                  </div>
                </div>
              </div>

              <div class="col-5 col-md-5 m-auto user-info p-0">
                <h4>{{ user.username }}</h4>
                <p>{{ user.email }}</p>
              </div>
            </div>
          </div>
          <div class="container profile-input">
            <div class="row">
              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  >{{ lexicon.firstName }}</label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  >{{ lexicon.lastName }}</label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  >{{ lexicon.dateOfBirth }}</label
                >
                <div class="input-group">
                  <input
                    [ngClass]="dateOfBirthClasses"
                    formControlName="dateOfBirth"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    [displayMonths]="numberOfMonthsToDisplay"
                    [navigation]="navigation"
                    [outsideDays]="outsideDays"
                    [showWeekNumbers]="showWeekNumbers"
                    ngbDatepicker
                    (click)="datePicker.toggle()"
                    #datePicker="ngbDatepicker"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      (click)="datePicker.toggle()"
                      type="button"
                    >
                      <fa-icon [icon]="faCalendar"></fa-icon>
                    </button>
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      dateOfBirth?.hasError('underAge') &&
                      !dateOfBirth?.hasError('ngbDate')
                    "
                  >
                    {{ lexicon.underAgeError }}
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="dateOfBirth?.hasError('ngbDate')"
                  >
                    {{ lexicon.invalidDate }}
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  for="companyName"
                >
                  {{ lexicon.companyName }}
                </label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="companyName"
                  placeholder=""
                />
              </div>

              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  for="schoolName"
                >
                  {{ lexicon.schoolName }}
                </label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="schoolName"
                />
              </div>

              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  for="countryNumericCode"
                  >{{ lexicon.country }}</label
                >
                <div class="input-group">
                  <select
                    formControlName="countryNumericCode"
                    class="form-control my-select"
                    (change)="onChange($event)"
                  >
                    <option [ngValue]="null" disabled hidden selected>
                      {{ lexicon.countrySelectPlaceHolder }}
                    </option>
                    <option
                      *ngFor="let country of countriesDataSource"
                      [ngValue]="country.numericCode"
                      >{{ lexicon[country.alpha2Code] }}</option
                    >
                  </select>
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      *ngIf="countryNumericCode.value == null"
                    >
                      <span> &nbsp;</span>
                    </span>
                    <span
                      *ngIf="countryNumericCode.value != null"
                      class="input-group-text flag-span f32"
                    >
                      <span
                        class="flag {{
                          findAlpha2CodeForNumericCode(countryNumericCode.value)
                        }}"
                      ></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                >
                  {{ lexicon.programmingLanguages }}
                </label>
                <angular2-multiselect
                  [settings]="programmingLanguagesDropDownSettings"
                  [data]="programmingLanguagesDataSource"
                  formControlName="programmingLanguages"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </angular2-multiselect>
              </div>
              <div class="form-group col-md-6">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  for="gender"
                  >{{ lexicon.gender }}</label
                >
                <select
                  placeholder="Select your gender"
                  formControlName="gender"
                  class="form-control my-select"
                >
                  <option [ngValue]="null" disabled hidden selected>
                    {{ lexicon.genderSelectPlaceHolder }}
                  </option>
                  <option [ngValue]="genderEnum.Male">{{
                    lexicon.male
                  }}</option>
                  <option [ngValue]="genderEnum.Female">{{
                    lexicon.female
                  }}</option>
                  <option [ngValue]="genderEnum.Other">{{
                    lexicon.other
                  }}</option>
                </select>
              </div>

              <div class="form-group col-md-12">
                <label
                  [class.form-label-rtl]="isLanguageArabic"
                  class="form-label"
                  for="description"
                >
                  {{ lexicon.description }}
                </label>
                <textarea
                  class="form-control"
                  type="text"
                  rows="6"
                  formControlName="description"
                  [placeholder]="lexicon.descriptionPlaceHolder"
                >
                </textarea>
              </div>
            </div>

            <div class="btn-save">
              <button
                class="form-button"
                [disabled]="editForm?.invalid || !editForm?.dirty"
                type="submit"
              >
                {{ lexicon.saveButtonText }}
                <fa-icon [icon]="faSave"></fa-icon>
              </button>
            </div>
          </div>
          <!--End Container-->
        </form>
      </div>
    </div>
  </div>
</div>
