<div class="container">
  <div class="comments">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img
            src="https://assets.leetcode.com/users/huaying2/avatar_1523559968.png"
          />
        </div>
        <span class="display-name title">UserName</span>
        <span class="reputation">
          <span><fa-icon [icon]="fastar"></fa-icon></span>122</span
        >
        <span class="display-name caption">
          Last Edit: September 25, 2019 5:46 PM
        </span>
      </div>
      <!---->
      <div class="wrapper comment">
        <p>
          this is Test comment ,this is Test comment this is Test comment this
          is Test comment .
        </p>
      </div>
      <div class="btn-comment">
        <div class="rating-comment-section">
          <span class="comment-up"><fa-icon [icon]="faSortUp"></fa-icon></span>
          <span class="vote-count">400</span>
          <span class="comment-down"
            ><fa-icon [icon]="faSortDown"></fa-icon
          ></span>
        </div>
      </div>
    </div>
    <!---->
    <div class="answers"></div>
  </div>
</div>
