<div class="chat-container" [class.rtl]="isInRtlMode">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header message-head">
            <div class="d-flex bd-highlight">
              <div class="img-container">
                <img
                  [src]="recipient.photoUrl || defaultPhotoUrl"
                  class="rounded-circle user-img"
                />
                <!-- Icons Online or offile -->
                <!-- <span class="online-icon"></span> -->
              </div>
              <div class="user-info">
                <span>{{ recipient.username }}</span>
                <!-- <p>Online</p> -->
              </div>
            </div>
            <!-- Action Menu -->
            <span (click)="toggleActionCollapsed()" class="action-menu-btn"
              ><fa-icon [icon]="faEllipsisV"></fa-icon
            ></span>
            <div class="action-menu" [class.show]="isActionCollapsed">
              <ul>
                <li (click)="navigateToProfile()">
                  <fa-icon [icon]="faUserCircle"></fa-icon>
                  {{ lexicon.viewProfileText }}
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body message-card-body">
            <span *ngFor="let message of messagesThread">
              <div
                class="d-flex mb-4"
                [class.justify-content-start]="message.senderId === sender.id"
                [class.justify-content-end]="message.senderId === recipient.id"
              >
                <div
                  [class.message-container-recipient]="
                    message.senderId === recipient.id
                  "
                  [class.message-container-sender]="
                    message.senderId === sender.id
                  "
                >
                  <span
                    placement="top"
                    [ngbTooltip]="transformDate(message.messageSentUtc)"
                  >
                    {{ message.content }}
                  </span>
                  <span
                    class="message-time"
                    *ngIf="
                      message.dateReadUtc && message.senderId === sender.id
                    "
                    [class.rtl]="isInRtlMode"
                  >
                    {{ lexicon.readText }}
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </span>
                </div>

                <div
                  *ngIf="
                    message.senderId === recipient.id &&
                    message.senderId !== sender.id
                  "
                  class="img-container-message"
                >
                  <img
                    [src]="message.senderPhotoUrl || defaultPhotoUrl"
                    class="rounded-circle user-img ml-2"
                  />
                </div>
              </div>
            </span>
          </div>
          <div class="card-footer">
            <form
              #messageForm="ngForm"
              (ngSubmit)="messageForm.valid && sendMessage()"
            >
              <div class="input-group">
                <textarea
                  [style.height]="messageTextAreaHeight"
                  name="content"
                  required
                  autosize
                  minRows="1"
                  maxRows="7"
                  class="form-control message-textbox"
                  placeholder="Type your message..."
                  [(ngModel)]="newMessageContent"
                ></textarea>
                <div class="input-group-append">
                  <button
                    class="input-group-text send-btn"
                    [disabled]="!messageForm.valid"
                  >
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
