.chat-container {
  margin-top: auto;
  margin-bottom: auto;
}
.chat-container .card {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgb(122, 120, 118) !important;
}
.chat-container .contacts-body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.chat-container .message-card-body {
  overflow-y: auto;
  word-break: break-all;
}
.chat-container .card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.chat-container .card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.chat-container .container {
  align-content: center;
}

.chat-container .message-textbox {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  overflow-y: auto;
  resize: none;
}
.chat-container .message-textbox:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.chat-container .send-btn {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.chat-container .user-img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}
.chat-container .img-container {
  position: relative;
  height: 70px;
  width: 70px;
}
.chat-container .user-img-message {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.chat-container .img-cont-message {
  height: 40px;
  width: 40px;
}
.chat-container .online-icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.chat-container .offline {
  background-color: #c23616 !important;
}
.chat-container .user-info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.chat-container.rtl .user-info {
  margin-left: 0px;
  margin-right: 15px;
}
.chat-container .user-info span {
  font-size: 20px;
  color: white;
}
.chat-container .user-info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.chat-container .message-container-recipient {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #efefef;
  padding: 10px;
  position: relative;
}
.rtl.chat-container .message-container-recipient {
  margin-left: 0px;
  margin-right: 10px;
}
.chat-container .message-container-sender {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #00a1ffd6;

  padding: 10px;
  position: relative;
}
.rtl.chat-container .message-container-sender {
  margin-right: 0px;
  margin-left: 10px;
}
.chat-container .message-time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.rtl.chat-container .message-time {
  right: 0;
  left: auto;
}
.chat-container .message-time-send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.rtl.chat-container .message-time-send {
  right: auto;
  left: 0;
}
.chat-container .message-head {
  position: relative;
}
.chat-container .action-menu-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.rtl.chat-container .action-menu-btn {
  left: 10px;
  right: auto;
}
.chat-container .action-menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.rtl.chat-container .action-menu {
  left: 15px;
  right: auto;
}
.chat-container .show {
  display: block;
}
.chat-container .action-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.chat-container .action-menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.chat-container .action-menu ul li i {
  padding-right: 10px;
}
.chat-container .action-menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

ul#sortable {
  margin: 25px;
  padding: 0;
  list-style: none;
}

ul#sortable li {
  font-size: 2em;
  font-weight: 700;
  border-radius: 10px;
  background-color: #e0c6f7;
  margin-bottom: 14px;
  padding: 1em;
  cursor: pointer;
}

ul#sortable li:nth-of-type(1) {
  background-color: #8522e1;
}

ul#sortable li:nth-of-type(2) {
  background-color: #9540e5;
}

ul#sortable li:nth-of-type(3) {
  background-color: #ae6deb;
}

ul#sortable li:nth-of-type(4) {
  background-color: #c79af1;
}

ul#sortable li:nth-of-type(5) {
  background-color: #e0c6f7;
}

.chat-container ::-webkit-scrollbar-thumb {
  background: #534e4c;
  direction: ltr !important;
  text-align: left !important;
}
