<div class="background">
  <div class="container">
    <div class="screen p-3 mt-2 mb-2">
      <div [ngClass]="checkLoading()">
        <img class="splash-logo" [src]="logo" alt="Alpha Logo" />
      </div>
      <div class="login">
        <div class="login-header">
          <div>
            <img class="login-logo" [src]="logo" alt="Alpha Logo" />
          </div>
          <div class="login-subtitle">Sign up to continue</div>
        </div>
        <div class="login-body">
          <!--Form Here -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="login-email">Email</label>
              <input
                matInput
                formControlName="email"
                class="form-control"
                type="email"
                placeholder="example@email.com"
                required
              />
              <div
                *ngIf="email.errors && email.touched"
                class="alert alert-danger"
              >
                <small *ngIf="email.hasError('email')"
                  >Error in email pattern</small
                >
                <small *ngIf="email.errors?.required">Email is required</small>
              </div>
            </div>
            <div class="form-group">
              <!--Email  -->
              <label class="form-label" for="login-email">UserName</label>
              <input
                matInput
                formControlName="username"
                class="form-control"
                type="text"
                placeholder="eg. username123"
                required
              />
              <div
                *ngIf="username.errors && username.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    username.hasError('minLength') ||
                    username.hasError('maxLength') ||
                    username.hasError('pattern')
                  "
                  >Username pattern error!
                </small>
                <small *ngIf="username.errors?.required"
                  >UserName is Requried !</small
                >
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="login-password">Password</label>
              <input
                matInput
                formControlName="password"
                class="form-control"
                placeholder="*****"
                type="password"
                name="password"
              />
              <div
                *ngIf="password.errors && password.touched"
                class="alert alert-danger"
              >
                <small
                  *ngIf="
                    password.hasError('minLength') ||
                    password.hasError('maxLength') ||
                    password.hasError('pattern')
                  "
                  >Password pattern error!
                </small>
                <small *ngIf="password.hasError('required')">
                  Password is required !</small
                >
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="login-password"
                >Confirm Password</label
              >
              <input
                matInput
                formControlName="confirmPassword"
                class="form-control"
                placeholder="*****"
                type="password"
              />
              <div
                *ngIf="confirmPassword.errors && confirmPassword.touched"
                class="alert alert-danger"
              >
                <small *ngIf="confirmPassword.errors?.mustMatch"
                  >Error in Password , Not Match</small
                >
                <small *ngIf="confirmPassword.errors?.required"
                  >Confirm Password is required !</small
                >
              </div>
            </div>
            <div class="form-group">
              <!--Password  -->
              <label class="form-label" for="login-Gender">Gender</label>
              <div
                class="btn-group btn-group-toggle"
                ngbRadioGroup
                name="radioBasic"
              >
                <label ngbButtonLabel class="btn-dark">
                  <input
                    ngbButton
                    type="radio"
                    [value]="genderEnum.MALE"
                    formControlName="gender"
                  />
                  Male
                </label>
                <label ngbButtonLabel class="btn-dark">
                  <input
                    ngbButtons
                    type="radio"
                    [value]="genderEnum.FEMALE"
                    formControlName="gender"
                  />
                  Female
                </label>
              </div>
              <hr />
            </div>
            <div class="form-group">
              <!--Login Btn  -->
              <button
                class="login-button"
                type="submit"
                [disabled]="
                  (registerForm.invalid && registerForm.touched) ||
                  !registerForm.touched
                "
              >
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="text-center">
          <span>OR</span>
        </div>
        <!--Social Icons  -->
        <div class="social-icons">
          <img [src]="fbLogo" alt="facebook" />
          <img [src]="googleLogo" alt="google" />
          <img [src]="instagramLogo" alt="instagram" />
        </div>
        <div class="login-footer">
          Already User?&nbsp;&nbsp;<a
            class="link link-register"
            routerLink="/login"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
